<!-- $Id: online_authorization.htm 4339 2023-06-01 10:29:24Z hzxu $ -->
{include file="pageheader.htm"}

<meta http-equiv=Content-Type content="text/html; charset=utf-8">

<div style='layout-grid:16.3pt;margin-left: 20px;'>
<span style='font-size:9.5t;line-height:100%;'>
<p>ECShop产品安装完成后，如果要进行商业运营，则需要购买商业授权。</p>

<p>ECShop商业授权，是商派专为ECShop授权用户颁发的一项商业授权许可，让您能拥有商派官方正版授权的ECShop产品，尊享企业级会员权益。</p>

<p><span style='font-size:9.5t;line-height:150%;'>ECShop商业授权，<b>目前仅支持二级域名的绑定</b>，例如可以绑定www.ecshop.com（主机名为：www），或者绑定shop.ecshop.com（主机名为：shop），或者绑定ecshop.com（主机名为：空），购买一个授权，只能绑定上述一个域名。</span></p>

<p>ECShop商业授权，<b><span
style='color:red'>不支持一级域名的绑定</span></b>，例如将域名绑定*.ecshop.com，然后任意设置子域名的作法是不支持的，请注意。</p>

<p>如果有多个站点，每个站点的域名都是同一个主域名下的二级子域名，如a.ecshop.com、b.ecshop.com、c.ecshop.com….则每一个域名都要分别购买一个商业授权；如果只购买一个，则其它站点均为侵权。</p>

<p>购买商业授权后，可在线进行授权域名的绑定。</p>

<b>1、注册商派账号及生成产品订单</b>

<p>ECShop商业授权通过手机号进行绑定，请在<a href="http://www.shopex.cn" target="_blank">www.shopex.cn</a>商派官网进行免费注册，注册过程中需要验证码进行验证，请保证手机为可用状态。注册完成后，手机号即为商派账号。</p>

<p><img border=0 width=505 height=120 src="images/online_authorization/authorization001.jpg"></p>

<p>如果已经购买过ECShop商业授权，可依次点击左侧菜单：我的商派-我的订单 查看，此订单为“已完成”状态才有效。</p>

<p><img border=0 width=510 height=355 src="images/online_authorization/authorization002.jpg"></p>

<p>如果已经购买过ECShop商业授权，但订单中并没有相关信息，请与销售人员联系。</p>

<b>2、产品安装完成</b>

<p>ECShop产品安装时可通过要绑定的域名进行，也可通过IP地址进行安装。</p>

<p>ECShop产品在授权过程中需要访问商派的授权服务器，同时也要允许商派的授权服务器访问安装ECShop的服务器，因此ECShop产品必须在可通过网络访问的服务器上安装完成后才可以进行授权操作。</p>

<p>不能通过域名或IP地址访问的ECShop产品无法进行授权操作，未安装的ECShop产品无法进行授权操作，只能在本地访问的ECShop产品无法进行授权操作。</p>

<p>ECShop产品安装完成后，可以通过 域名/admin 访问管理后台</p>

<p><img border=0 width=520 height=230 src="images/online_authorization/authorization003.jpg"></p>

<p>ECShop管理后台有两个登录窗口，左边用安装时设置的管理员账号登录，右边用绑定的商派账号登录。</p>

<p><span style='color:red'>说明：</span>如果ECShop产品是用IP地址安装，建议更换为域名后再进行绑定及授权，否则会绑定IP地址。</p>

<b>3、ECShop产品绑定商派账号</b>

<p>用ECShop产品安装过程中设置的管理员账号登录管理后台（默认为admin，可自定义），点击 云服务中心-授权绑定</p>

<p><img border=0 width=460 height=275 src="images/online_authorization/authorization004.jpg"></p>

<p>点击页面中的“激活系统”</p>

<p><img border=0 width=460 height=245 src="images/online_authorization/authorization005.jpg"></p>

<p>输入在<a href="http://www.shopex.cn" target="_blank">www.shopex.cn</a>商派官网注册的商派账号并登录，当出现如图界面时，商派账号绑定完成。</p>

<p><img border=0 width=480 height=240 src="images/online_authorization/authorization006.jpg"></p>

<p>其中以8开头的14位数字为商派系统生成的ShopeX ID，与手机号码一对一绑定；证书号与域名一对一绑定。</p>

<b>4、ECShop产品在线授权</b>

<p>绑定商派账号完成后，退出管理后台，然后用刚才绑定的商派账号登录管理后台</p>

<p><img border=0 width=525 height=230 src="images/online_authorization/authorization007.jpg"></p>

<p>登录成功后，左下角会显示ShopeX ID</p>

<p><img border=0 width=510 height=310 src="images/online_authorization/authorization008.jpg"></p>

<p>点击左上角的“未授权用户”标识</p>

<p><img border=0 width=460 height=240 src="images/online_authorization/authorization009.jpg"></p>

<p><span style='color:red'>说明：</span>如果未绑定商派账号，则点击此标识无反应。</p>

<p>进入在线授权流程</p>

<p><img border=0 width=460 height=225 src="images/online_authorization/authorization010.jpg"></p>

<p>点击“立即激活商业授权”</p>

<p><img border=0 width=460 height=270 src="images/online_authorization/authorization011.jpg"></p>

<p>输入绑定的商派账号</p>

<p><span style='color:red'>注意：</span>如果此处输入的商派账号不是已经绑定的商派账号，则系统会提示如下</p>

<p><img border=0 width=360 height=150 src="images/online_authorization/authorization012.jpg"></p>

<p>输入绑定的商派账号后，系统会根据购买的产品授权订单显示相应内容</p>

<p><img border=0 width=510 height=210 src="images/online_authorization/authorization013.jpg"></p>

<p>如果没有购买授权，则无法操作</p>

<p><img border=0 width=390 height=130 src="images/online_authorization/authorization014.jpg"></p>

<p>点击“使用该授权激活”提示确认</p>

<p><img border=0 width=480 height=240 src="images/online_authorization/authorization015.jpg"></p>

<p>“应用url”即授权的域名，如果信息有错误，请与商派售后人员联系。</p>

<p>点击“确认激活”后激活成功</p>

<p><img border=0 width=400 height=240 src="images/online_authorization/authorization016.jpg"></p>

<p>确认后，刷新当前页，点击左上角“授权信息”可查看详细授权内容</p>

<p><img border=0 width=500 height=240 src="images/online_authorization/authorization017.jpg"></p>

<p>在产品后台点击左上角“未授权用户”，也会显示授权信息</p>

<p><img border=0 width=500 height=240 src="images/online_authorization/authorization018.jpg"></p>

<p>退出管理后台，用商派账号重新登录ECShop管理后台，左上角会显示授权标识；如果登录后还是显示未授权，可尝试退出重新登录以进行刷新。</p>

<p><img border=0 width=100 height=60 src="images/online_authorization/authorization019.jpg"></p>

<p>在线授权完成。</p>
</span>
</div>

{include file="pagefooter.htm"}