
{include file="pageheader.htm"}

<div style="width:100%;border:solid 1px #dddddd;padding: 25px;">
    <div style="margin: 0 auto;width: 350px;">
        <form action="mobile_setting.php" method="post" enctype="multipart/form-data">
            <input type="file" name="prompt_image">
            {if $prompt_image}
            <img src="{$prompt_image}" alt="" width="50px" height="50px">
            {/if}
            <p><span></span><input type="text" name="prompt_external_image" value="{$prompt_external_image}" placeholder="{$lang.picture_url}"></p>
<!--            <p><span>图片1链接：</span>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="prompt_image_url" value="{$prompt_image_url}"></p>-->
            <p><span>{$lang.coupon_id}：</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="prompt_bonus_id" value="{$prompt_bonus_id}"><span style="color: red"> *({$lang.coupon_by_user})</span></p>
            <p><span>{$lang.open_or_not}：</span><input type="radio" name="prompt_image_status" value="1" {if $prompt_image_status =='1' } checked{/if}>{$lang.yes}
                <input type="radio" name="prompt_image_status" value="2" {if $prompt_image_status =='2' } checked{/if}>{$lang.no}</p>
            <input type="hidden" name="act" value="up_prompt_image">
            <button type="submit"> {$lang.submit}  </button>
        </form>
    </div>
</div>

{include file="pagefooter.htm"}
